::-webkit-scrollbar {
  background-color: #00000000;
}
::-webkit-scrollbar-track {
  background-color: #00000000;
}
::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(
    to bottom,
    #175773,
    #175773 16px,
    #c7feff 16px,
    #c7feff 19px
  ); 
  border: 3px solid #c7feff;
  border-radius: 14px;
  background-clip: padding-box;
}
