body {
  text-align: center;
  padding: 20px;
  font-family: Sans-Serif;
  color: #fff;
  user-select: none;
  overflow: hidden auto;
}

/* Main */
.navBar {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 660px;
}
.navBar .navHeader {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #b7e9ff;
}
.navBar .title {
  font-family: "Lilita One", Sans-Serif;
  margin-bottom: 2px;
}
.navBar .header {
  font-size: 15px;
  font-weight: 600;
  color: #b7e9ff;
  max-width: 500px;
}
.navBar img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  transform: scale(1);
}
.navBar img:hover {
  transform: scale(1.1);
}

.innerNav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
.innerNav .navImg {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  transform: scale(1);
}
.innerNav .navImg:hover {
  transform: scale(1.2);
}
.tagBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 60px;
  margin: 15px;
  background-color: #242424;
  border: solid 6px #2f2f2f;
  border-radius: 50px;
}
.tagBar .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: auto;
  height: 35px;
  margin: 10px .15em;
  padding: 2px 10px 2px;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 35px;
  background-color: #00b8ff;
  border: solid 5px #007dff;
  border-radius: 50px;
  transition: transform 150ms ease-in-out;
  transform: scale(1);
}
.tagBar .tag:hover {
  transform: scale(1.15);
}

/* Extensions */
.ext-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 105%;
  left: -2.5%;
}
.ext-breaker {
  display: inline-block;
  width: 100%;
  border-bottom: dashed 6px rgba(255,255,255,0.2);
  margin: 10px 5% 10px 5%;
}
.ext-holder {
  display: inline-block;
  width: 300px;
  height: 285px;
  margin: 20px 20px 20px 20px;
  border: solid grey 2px;
  border-radius: 19px;
  opacity: 0;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  transform: scale(1);
}
.ext-holder:hover {
  filter: url(#bloom-filter);
  transform: scale(1.1);
}
.ext-data pre {
  margin: 0;
  padding: 7px 10px 10px 10px;
  text-wrap: wrap;
  font-family: Sans-Serif;
  font-size: 15px;
  user-select: text;
}
.ext-data .desc-breaker {
  width: 250px;
  border-top: dashed grey 2px;
  margin: auto;
}
.ext-data .update-date {
  width: 300px;
  position: absolute;
  bottom: 2px;
  padding: 0 0 10px 0;
  color: #a1a1a1;
  font-size: 14px;
}

.ext-tag {
  position: absolute;
  right: -35px;
  top: -25px;
}
.ext-pin {
  position: absolute;
  left: 5px;
  top: 5px;
  transition: transform 200ms ease-in-out;
  transform: scale(0.8);
}
.ext-pin:hover {
  transform: scale(0.9);
}

/* Contributors */
.contributor {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  opacity: 0;
  margin: 25px;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  transform: scale(1);
}
.contributor:hover {
  transform: scale(1.1);
}

/* Text Descriptors */
.text-descriptor {
  width: max-content;
  max-width: 90%;
  background-color: rgba(87,87,87,.86);
  border: solid 7px #ebebeb;
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  left: -50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

/* Donate Button */
.donateBtn {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background: linear-gradient(110deg, #00b8ff 40%, #66d9ff 50%, #00b8ff 60%);
  background-size: 200% 100%;
  border: solid 6px #007dff;
  border-radius: 50px;
  line-height: 150%;
  text-indent: 10px;
  font-size: 20px;
  font-family: Sans-Serif;
  font-weight: 600;
  color: #fff;
  position: relative;
  overflow: hidden;
  animation: donateShine 2s linear infinite;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  transform: scale(1);
}
.donateBtn:hover {
  transform: scale(1.1);
}

@keyframes donateShine {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}
